body{
    margin: 0;
    padding: 0;
    left: 0;
    width: 600px;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: left;  
    margin : 10px;  
}
.card{
    margin : 10px;
    padding: 16px;
    text-align: center;
    background-color: #ffff;
    cursor: pointer;
}
.close{
    display: none;
}
.material-icons{
    position: absolute;
    top: 20px;
    left: 550px;
    cursor: pointer;
}
.material-icons::after{
    top: 18px;
    left: 540px;
}

